@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"].</h2>*@
@*<h3>@ViewData["Message"]</h3>*@

<h3>Contact</h3>

<address>
  Bezoekadres:
  <a href="https://ssvgriffioen.nl" target="_blank">SSV Griffioen</a>
  Forel 1
  3824 LA Amersfoort
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@bjbrouwer.nl">info@bjbrouwer.nl</a><br />
</address>
